* {
    font-size: 1rem;
    font-weight: 400;
    color: #001E30;
}
*:focus{
    outline: 0 !important;
}

.navbar-component {
    height: 48px;
    background-color: #fff;
}

.search-form {
    padding-right: 16px;
    border: solid 1px #CCD8E3;
    border-radius: 3px;
}

input.search-field {
    width: 190px;
    color: #001E30;
}
input.search:focus {
    color: #001E30;
}
input.search-field::placeholder {
    color: #CCD8E3;
}

i.bi-search {
    margin-left: 12px;
    margin-right: 8px;
    padding: 4px;
    color: #495E75;
}

/* iconos */
.icons {
    margin: 0 24px;
    display: flex;
    align-items: center;
}
.icons i {
    padding: 4px;
    color: #364759;
}
.icons i:first-child {
    margin-right: 8px;
}

/* Botón "nueva solicitud" */
button.btn-nva-solicitud {
    background-color: rgb(36,	166, 245);
    color: #fff;
}
button.btn-nva-solicitud:active {
    background-color: #108ad6;
    color: #fff;
}
button.btn-nva-solicitud:hover {
    color: #fff;
}

button.btn-nva-solicitud i {
    color: #fff;
    padding: 0;
    font-size: 18px;
}


/* === Filtro === */

/* Dropdown Button */
i.bi.bi-funnel-fill {
    margin-left: 12px;
    margin-right: 8px;
    color: #495E75;
}

button.btn.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #001E30;
}
button.btn.dropdown-toggle label {
    margin-right: 57px;
}
button.btn.dropdown-toggle::after {
    color: #001E30;
}

/* Flecha */
.dropdown-toggle::after {
    border: solid #000;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0 0 3px 0;
    color: #001E30;
}
.dropdown-toggle:focus::after {
    transform: rotate(225deg)!important;
    -webkit-transform: rotate(225deg)!important;
}
div.dropdown-menu {
    padding: 8px 0;
}
div.dropdown-menu.show {
    transform: translate3d(-1px, 40px, 0px) !important;
    -webkit-transform: translate3d(-1px, 40px, 0px) !important;
}
div.dropdown-item {
    padding: 16px;
}